*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
  background: linear-gradient(#42A5F5,blue);
  height:100vh;
}

/*BANNER*/

.container-banner{
  overflow:hidden;
  background-image: linear-gradient(#42A5F5,blue);
  border: 3px solid #42A5F5;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-bottom: 7px;
  z-index:2
}
.logo{
  position:absolute;
  right: 0;

}
.PM:hover {
  filter: brightness(0) invert(1);
  transition: filter 0s ease-in;
}

/*MENU BAR*/

.menu{
  position:fixed ;
  left:0;
  top:0;
  margin:20px;
  z-index: 3;
}
.menubar {
  width: 28px;
  height: 5px;
  background-color: black;
  margin: 1px 0;
}
.menuicon:hover .menubar {
  background-color: rgb(184, 182, 182);
  transition: filter 0.2s ease-in;
}

.dropdown {
  display:none;
  position:relative;
  top:59px;
  right:16px;
  width: 90px;
  background-color: black;
  overflow: hidden;
  font-family: sans-serif;
}

.showme {
  display:block;
}

/* Style the links inside the navigation bar */
.dropdown a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.dropdown a:hover {
  background-color: #ddd;
  width: 90px;
  color: black;
}




h1 {
  font-size: 50px; color: rgb(1, 1, 43);
  text-align: center; 
  right:10px;
}
#enjoy {
  font-size: 20px; color: rgb(214, 214, 228);
  text-align: center;  
}

/*MAIN CONTENT*/

.container-content{
  margin-top: 80px;
}


.container-input{
  width: 450px;
  background: white;
  border-radius: 10px;
  border: 5px solid blue;
  border-style:outset;
  position:relative;
  top:25px;
  left:0;
  right:0;
  margin:auto;
 
}
  #newtask input{
    width: 55%;
    height: 35px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
  }

  #newtask {
    position: relative;
    padding: 15px 20px;
  }
  #newtask input:focus{
    outline: none;
    border-color: #0d75ec;
  }
  .container-input button {
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 35px;
    border-radius: 5px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    margin-right: 5px;
  }
   .container-input button:hover {
    background-color: #4049c5;
    transition: background-color 0.2s ease-in;
  }
 
.container-list {
  border-radius: 10px;
  border: 5px solid blue;
  border-style:outset;
  min-width: 450px;
  width:70%;
  height:63vh;
  position:relative;
  left:0;
  right:0;
  margin:auto;
  display:flex; /*So that the overflow defaults to scrolled all the way to the right*/
  flex-direction: row-reverse; /*So that the overflow defaults to scrolled all the way to the right*/
  top: 35px;
  
  
}

  #todos{
    font-family: sans-serif;
    white-space: nowrap;
    font-weight: bolder;
    align-items: center;
    background-image:linear-gradient(#63b5f8,);
    padding: 0px 5px;
    margin-top: 0px;
    list-style-type: none;/*to remove the bullet symbols*/
    width: 300%;/*larger than 100% to ensure that li text is scrolled all the way to the right in overflow container-list */
    position:relative;
    text-align: right; 
  }
/*@media only screen and (max-width: 600px) {
  #enter {
    width: 15em;
  }
}*/

  .container-list button {
    font-family: sans-serif;
    margin-left: 10px;
    margin-top: 20px;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    background-color: #0d75ec;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    min-height: 30px;
    width: 50px;
    max-width: 60px;
    border-radius: 5px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  }

  .container-list button:hover {
    background-color: #4049c5;
    transition: background-color 0.2s ease-in;
  }

/*FOOTER*/

  .footer{
    font-family:georgia;
    position:relative;
    bottom:-35px;
    left:0;
    right:0;
    text-align: center;
 }
   .madeby{
     color:magenta;
   }
   .paulmattthew{
     color: rgba(255, 255, 255, 0.61);
   }


   .error-messages{/*will try to fix this*/
    display: flex;
    position:absolute;
    flex-direction: column;
    font-weight:500;
    align-items:center;
  }

 /*list fade in*/
  li {
    animation: fade-anim 1s ease
 }
 @keyframes fade-anim {
 0% {
     opacity: 0;
 }
 100% {
     opacity: 1;
 }
 }
  .strike {/* strikethrough done todo */
    text-decoration: line-through;
    color:red;
  }
/*button animation below*/
  button {
    background-position: center;
    transition: background 0.8s;
  }
  button:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  button:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }

/*The background ripple code below */
header{/*Need this here so that the background ripple doesn't change screen size*/
  min-height: 100vh;
  position:fixed;
}
.ripple-1,
.ripple-2,
.ripple-3,
.ripple-4,
.ripple-5{
  height: 1px;
  width: 1px;
  /*'to move cloud direction; position: absolute;*/
  left: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 50%;
  transform: translate3d(-50%, 50%, 0);
  animation-name:ripple;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  will-change: transform, opacity;
}

.ripple-1{
  animation-delay: 0;
}

.ripple-2{
  animation-delay: 1s;
}

.ripple-3{
  animation-delay: 2s;
}

.ripple-4{
  animation-delay: 3s;
}

.ripple-4{
  animation-delay: 4s;
}

.ripple-5{
  animation-delay: 5s;
}

main{
  height: 4000px;
  background-color: #f7f7f7;
}

@keyframes ripple{
  0%{
    transform: translate3d(-50%, 50%, 0) scale(0);
    opacity: .33;
  }
  100%{
    transform: translate3d(-50%, 50%, 0) scale(2000);
    opacity: 0;
  }
}


.logo .logomsg {
  visibility: hidden;
  width: 60px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  right:0;
  top:55px;
  z-index: 1;
}

.logo:hover .logomsg {
  visibility: visible;
}

